<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110269723034-kanu2a4soh88sm5g0spli6779lj63c2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110269723034-kanu2a4soh88sm5g0spli6779lj63c2b</string>
	<key>API_KEY</key>
	<string>AIzaSyCSIgFuJJyeGzHTsIZfky37P6mLuH92GN0</string>
	<key>GCM_SENDER_ID</key>
	<string>110269723034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jastaapp</string>
	<key>PROJECT_ID</key>
	<string>jasta-app-9322a</string>
	<key>STORAGE_BUCKET</key>
	<string>jasta-app-9322a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110269723034:ios:32f33376f5bd0dc274ca23</string>
</dict>
</plist>